@media all and (max-width: 1024px) {

  html {
    font-size: 10px;
  }



/* section : title */

  section.title_area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  section.title_area h2 {
    width: 100%;
  }

  section.title_area span {
    margin-top: 20px;
    margin-left: 40px;
    width: 100%;
  }



/* page_nav */

  .page_nav {
    margin: 30px 40px;
  }



/* section : gifts_for_all */

.goretex_wrapper {
  width: calc(100% - 80px);
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 1 */

.line1 > div {
  width: calc(50% - 4px);
}

/* line 2 */

.line2 > div {
  width: calc(50% - 4px);
}










}