@charset "UTF-8";

html {
  font-size: 12px;
}



/* section : title */

section.title_area {
  margin-top: 100px;
  padding-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

section.title_area h2 {
  margin-left: 40px;
  display: block;
  width: 50%;
  font-family: "NanumSquareNeo-Eb";  
  font-size: 2.4rem;
}

section.title_area span {
  margin-right: 40px;
  display: block;
  width: 50%;
  font-family: "NanumSquare-R";
  font-size: 1.4rem;
  line-height: 2.4rem;
  word-break: keep-all;
}



/* page_nav */

.page_nav {
  margin: 20px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.page_nav a > i {
  font-size: 1.2rem;
}

.page_nav span {
  font-family: "NanumSquare-R";
  font-size: 1.2rem;
}

.page_nav span:first-child {
  margin-left:  2px; 
  font-family: "NanumSquare-B";
}



/* desc */

.desc {
  margin: 0 40px;
  width: calc(100% - 80px);
  height: 300px;
  display: flex;
  gap:  4px;
}

.desc1 {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #121212;
}

.desc1 img {
  width: 100%;
  opacity: 60%;
}

.desc1_title {
  width: 100%;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "NanumSquareNeo-Eb";
  color:  #ffffff;
  font-size: 2.6rem;
}


.desc2 {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #121212;
}

.desc2 img {
  width: 100%;
  opacity: 60%;
}

.desc2_title {
  width: 100%;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  text-align: center;
  font-family: "NanumSquareNeo-Eb";
  color:  #ffffff;
  font-size: 2.6rem;
}



/* section : goretex */

.goretex {
  margin-top: 60px;
}

.goretex_wrapper {
  width: calc(100% - 80px);
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 1 */

.line1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.line1 > div {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.line1 > div a {
  width: 100%;
}

.line1 > div a img {
  width: 100%;
  height: auto;
}

.item_wrapper {
  display: flex;
  height: 200px;
  flex-direction: column; 
}

.item_title {
  margin-top: 20px;
  font-family: "NanumSquare-B";
  font-size: 1.4rem;
}

.item_desc {
  display: block;
  margin-top: 20px;
  width: 80%;
  color: #555555;
  font-family: "NanumSquare-R";
  font-size: 1.2rem;
  line-height: 2rem;
  word-break: keep-all;
}

.item_price {
  margin-top: 20px;
  font-family: "NanumSquare-B";
  font-size: 1.4rem;
}



/* goretex_category_ski */

.goretex_ski {
  margin-top: 40px;
  position: relative;
}

.goretex_ski > a img {
  width:  100%;
  max-height: 600px;
  object-fit: cover;
}

.goretex_ski > a picture::after{
  content:  "";
  display: block;
  position: absolute;
  bottom:  0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, #121212);
}

.goretex_ski_img_conts {
  position: absolute;
  bottom: 0;
  width: calc(100% - 80px);
  padding: 0 40px;
  color:  #ffffff;
  z-index: 0;
  transition: color 0.5s;
}

.goretex_ski_img_conts:hover{
  color:  #121212;
}

.goretex_ski_img_conts::before{
  content:  "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0%;
  background-color: #ffffff;
  z-index: -1;
  transition: height 0.4s;
}

.goretex_ski_img_conts.on::before{
  height: 100%;
  border-bottom: 1px solid #dedede;
}

.goretex_ski_img_title {
  margin-top: 24px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 2.4rem;
  letter-spacing: 0.04rem;
}

.goretex_ski_img_desc1 {
  width: calc(50% - 40px);
  margin-top: 18px;
  font-family: "NanumSquare-R";
  font-size: 1.3rem;
  letter-spacing: 0.06rem;
  line-height: 2.2rem;
  word-break: keep-all;
}

.goretex_ski_img_desc2 {
  margin-top: 24px;
  margin-bottom: 40px;
  margin-left: 4px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 1.2rem;
  font-weight:  800;
  transition: padding-left 0.4s;
}

.icon-caret-right-fill {
  opacity: 0;
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
  transform: translateX(-200%);
  position: absolute;
}

.icon-caret-right-fill:hover{
  opacity: 100;
  transform: translate(0);
}



/* goretex_category_climbing */

.goretex_climbing {
  margin-top: 40px;
  position: relative;
}

.goretex_climbing > a img {
  width:  100%;
  max-height: 600px;
  object-fit: cover;
}

.goretex_climbing > a picture::after{
  content:  "";
  display: block;
  position: absolute;
  bottom:  0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, #121212);
}

.goretex_climbing_img_conts {
  position: absolute;
  bottom: 0;
  width: calc(100% - 80px);
  padding: 0 40px;
  color:  #ffffff;
  z-index: 0;
  transition: color 0.5s;
}

.goretex_climbing_img_conts:hover{
  color:  #121212;
}

.goretex_climbing_img_conts::before{
  content:  "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0%;
  background-color: #ffffff;
  z-index: -1;
  transition: height 0.4s;
}

.goretex_climbing_img_conts.on::before{
  height: 100%;
  border-bottom: 1px solid #dedede;
}

.goretex_climbing_img_title {
  margin-top: 24px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 2.4rem;
  letter-spacing: 0.04rem;
}

.goretex_climbing_img_desc1 {
  width: calc(50% - 40px);
  margin-top: 18px;
  font-family: "NanumSquare-R";
  font-size: 1.3rem;
  letter-spacing: 0.06rem;
  line-height: 2.2rem;
  word-break: keep-all;
}

.goretex_climbing_img_desc2 {
  margin-top: 24px;
  margin-bottom: 40px;
  margin-left: 4px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 1.2rem;
  font-weight:  800;
  transition: padding-left 0.4s;
}