@charset "UTF-8";

html {
  font-size: 12px;
}



/* section : title */

section.title_area {
  margin-top: 100px;
  padding-bottom: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
}

section.title_area h2 {
  margin-left: 40px;
  display: block;
  width: 50%;
  font-family: "NanumSquareNeo-Eb";  
  font-size: 2.4rem;
}

section.title_area span {
  margin-right: 40px;
  display: block;
  width: 50%;
  font-family: "NanumSquare-R";
  font-size: 1.4rem;
  line-height: 2.4rem;
  word-break: keep-all;
}



/* page_nav */

.page_nav {
  margin: 20px 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.page_nav a > i {
  font-size: 1.2rem;
}

.page_nav span {
  font-family: "NanumSquare-R";
  font-size: 1.2rem;
}

.page_nav span:first-child {
  margin-left:  2px; 
  font-family: "NanumSquare-B";
}



/* desc */

.desc {
  margin: 0 40px;
  width: calc(100% - 80px);
  height: 300px;
  display: flex;
  gap:  4px;
}

.desc1 {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #121212;
}

.desc1 img {
  width: 100%;
  opacity: 60%;
}

.desc1_title {
  width: 100%;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "NanumSquareNeo-Eb";
  color:  #ffffff;
  font-size: 2.6rem;
}


.desc2 {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: #121212;
}

.desc2 img {
  width: 100%;
  opacity: 60%;
}

.desc2_title {
  width: 100%;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);  
  text-align: center;
  font-family: "NanumSquareNeo-Eb";
  color:  #ffffff;
  font-size: 2.6rem;
}



/* section : goretex */

.goretex {
  margin-top: 60px;
}

.goretex_wrapper {
  width: calc(100% - 80px);
  margin: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 1 */

.line1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 4px;
}

.line1 > div {
  width: 33.1%;
  display: flex;
  flex-direction: column;
}

.line1 > div a {
  width: 100%;
}

.line1 > div a img {
  width: 100%;
  height: auto;
}

.item_wrapper {
  display: flex;
  height: 200px;
  flex-direction: column; 
}

.item_title {
  margin-top: 20px;
  font-family: "NanumSquare-B";
  font-size: 1.4rem;
}

.item_desc {
  display: block;
  margin-top: 20px;
  width: 80%;
  color: #555555;
  font-family: "NanumSquare-R";
  font-size: 1.2rem;
  line-height: 2rem;
  word-break: keep-all;
}

.item_price {
  margin-top: 20px;
  font-family: "NanumSquare-B";
  font-size: 1.4rem;
}



/* goretex_category_ski */

.goretex_ski {
  
}

