@media all and (max-width: 1279px) {

html {
  font-size: 11px;
}



/* main */

.main .img_conts {
  width: calc(100% - 80px);
  position: absolute;
  bottom: 0;
  padding: 0 40px;
  color:  #ffffff;
  z-index: 0;
  transition: color 0.5s;
  word-break: keep-all;
}

.slider2_sectiontitle {
  font-size: 1.4rem;
}


/* slick */

.slick-dots {
  transform: translateY(-140%);
}

.slick-prev {
  filter: invert(0.4);
}

.slick-next {
  filter: invert(0.4);
}



/* section : collection */

.collection_img_title {
  width: 50%;
  word-break: keep-all;
  line-height: 3rem;
}



/* footer */

.footer {
  margin-top: 0;
  padding: 80px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap:  4rem;
  font-size: 1.2rem;
  background-color: #121212;
}

.footer_menu1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap:  2.4rem;
}

.footer_menu1 li a {
  width: 150px;
  padding:  1rem;
  border: 2px solid #ffffff;
  border-radius: 50px;
  text-align: center;
  color:  #ffffff;
  transition: background-color 0.4s;
}

.footer_menu1 li a:hover {
  color: #121212;
  background-color: #ffffff;
}

.footer_menu2 {
  display: flex;
  flex-direction: column;
  gap:  2.4rem;
}

.footer_menu2 li:nth-child(9) a{
  font-family: "NanumSquare-B";
  color:  #ffffff;
}

.footer_menu2 li a {
  color:  #ccc;
}

.footer span {
  color:  #ffffff;
}











}
