@media all and (max-width: 767px) {

  html {
    font-size: 8px;
    min-width: 320px;
  }



  /* header */

  .header {
    padding:  0 30px;
  }

  .header_right ul li {
    padding-left: 30px;
  }

  .header_center .logo {
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }



  /* main */

  .main .img_conts {
    width: calc(100% - 60px);
    padding:  0 30px;
  }



  /* slick */

  .slick-dots {
    transform: translateY(-180%);
  }

  .slick-prev {
    filter: invert(0.6);
  }

  .slick-next {
    filter: invert(0.6);
  }


  /* collection */
  .collection_img_conts {
    width: calc(100% - 60px);
    padding:  0 30px;
  }



  /* anniver50 */
  .anniver50_img_conts {
    width: calc(100% - 60px);
    padding:  0 30px;
  }
  

  /* event */
  .event_img_conts {
    width: calc(100% - 60px);
    padding:  0 30px;
  }
  


  /* footer */
  .footer {
    flex-direction: column;
    align-items: flex-start;
  }














}