@media all and (max-width: 767px) {

  html {
    font-size: 8px;
    min-width: 320px;
  }



  /* header */

  .header {
    padding:  0 30px;
  }

  .header_right ul li {
    padding-left: 30px;
  }

  .header_center .logo {
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }



  /* main */

  .main .img_conts {
    width: calc(100% - 60px);
    padding:  0 30px;
  }



  /* slick */

  .slick-dots {
    transform: translateY(-185%);
  }

  .slick-prev {
    filter: invert(1);
  }

  .slick-next {
    filter: invert(1);
  }



  /* collection */

  .collection_img_conts {
    width: calc(100% - 60px);
    padding:  0 30px;
  }



  /* anniver50 */

  .anniver50_img_conts {
    width: calc(100% - 60px);
    padding:  0 30px;
  }
  

/* slider 1 */

.slider1-wrapper > div {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:  2.4rem;
    position: absolute;
    padding: 0 30px;
  }



  /* slider 2 */

  .slider2_sectiontitle {
    padding:  0 30px;
    word-break: keep-all;
  }

  .slider2_title {
    text-align: center;
    word-break: keep-all;
  }
  
  .slider2_desc {
    text-align: center;
    word-break: keep-all;
  }

  .slider2_wrapper > div {
    width: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:  2.4rem;
    position: absolute;
    padding: 0 30px;
  }



  /* shop */

  .shop_conts {
    padding-left: 30px;
  }



  /* .anniver50_items */
  .anniver50_items .img_conts {
    width: calc(100% - 60px);
    padding:  0 30px;
  }



  /* event */
  .event_img_conts {
    width: calc(100% - 60px);
    padding:  0 30px;
  }



  /* footer */

  .footer {
    width: calc(100% - 60px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:  80px 30px;
  }

  .footer_menu1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    gap:  2.4rem;
  }

  .footer_menu1 li {
    max-width: 100px;
    width:  45%;
  }

  .footer_menu1 li a {
    width:  100%;
    display: block;
    padding:  0;
    line-height: 4rem;
    border: 2px solid #ffffff;
    border-radius: 50px;
    text-align: center;
    color:  #ffffff;
    transition: background-color 0.4s;
  }

  .footer_menu1 li a:hover {
    color: #121212;
    background-color: #ffffff;
  }

  .footer_menu2 {
    display: flex;
    gap:  2.4rem;
  }

  .footer_menu2 li:nth-child(9) a{
    font-family: "NanumSquare-B";
    color:  #ffffff;
  }

  .footer_menu2 li a {
    color:  #ccc;
  }

  .footer span {
    color:  #ffffff;
  }

}



/* 최소 모바일 slick 너비 조정 */

@media all and (max-width: 425px) {

  .slick-dots {
    transform: translateY(-140%);
  }

  .slick-prev {
    filter: invert(1);
    width: 20px;
    height: 20px;
    left: 40%;
  }

  .slick-next {
    filter: invert(1);
    width: 20px;
    height: 20px;
    right:  40%;
  }

}
