@charset "UTF-8";

html {
  font-size: 12px;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.main > div {
  width: calc(50% - 2px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
}

.main > div img {
  width:  100%;
  position: relative;
}

.main > div picture::after{
  content:  "";
  display: block;
  position: absolute;
  bottom:  0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, #121212);
}

.main .img_conts {
  position: absolute;
  bottom: 0;
  width: calc(100% - 80px);
  padding: 0 40px;
  color:  #ffffff;
  z-index: 0;
  transition: color 0.5s;
  word-break: keep-all;
}

.main .img_conts:hover{
  color:  #121212;
}

.main .img_conts::before{
  content:  "";
  display: block;
  position: absolute;
  bottom:  0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #ffffff;
  z-index: -1;
  transition: height 0.4s;
}

.main .img_conts.on::before{
  height: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.main_img_title {
  margin-top: 24px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 2.4rem;
  letter-spacing: 0.04rem;
}

.main .main_img_desc1 {
  margin-top: 18px;
  font-family: "NanumSquare-R";
  font-size: 1.4rem;
  letter-spacing: 0.06rem;
}

.main_img_desc2 {
  margin-top: 24px;
  margin-bottom: 40px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 1.2rem;
  font-weight:  800;
  transition: padding-left 0.4s;
}

.icon-caret-right-fill {
  opacity: 0;
  transition: opacity 0.1s ease-out, transform 0.1s ease-out;
  transform: translateX(-200%);
  position: absolute;
}

.icon-caret-right-fill:hover{
  opacity: 100;
  transform: translate(0);
}



/* section : slider 1 */

section.slider1 {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

.slider1-wrapper {
  width: 100%;
  display: flex;
  position: relative;
}

.slider1-wrapper > div {
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:  2.4rem;
  position: absolute;
  padding: 0 30px;
}

/* .slider1-3 .slider1-desc {
  line-height: 50px;
} */

h3.slider1-title {
  font-family: "NanumSquareNeo-Eb";
  font-size: 2.4rem;
  letter-spacing: 0.04rem;
  word-break: keep-all;
}

.slider1-desc {
  display: block;
  height: 50px;
  text-align: center;
  font-family: "NanumSquare-R";
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0.06rem;
  word-break: keep-all;
}

.slide_progress {
  position: relative;
  width: 120px;
  height: 2px;
  background-color: rgba(0,0,0,0.1);
}

.slide_progress_bar {
  width: 0;
  position: absolute;
  top:  0;
  left: 0;
  height: 2px;
  background-color: rgba(0,0,0,0.5);
  animation-name: loading;
  animation-duration: 3400ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes loading {
  0% {
    width:  0;
  }
  100%{
    width:  100%;
  }
}

.count-label {
  display: inline-flex;
  gap:  2rem;
  justify-content: center;
  position: relative;
  color:  rgba(0,0,0,0.5);
  font-family: "NanumSquare-B";
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
  text-align: center;
  line-height: 2.2rem;
}

.count-label::before {
  content: "|";
  display: block;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.count-num {
  color:  #121212;
}



/* slick button */

.slick-slider {
  position: relative;
}

.slick-prev {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/1/caret-left.svg);
  background-size: cover;
  position: absolute;
  top:0;
  left: 42%;
  transform: translate(-50% , -220%);
}

.slick-next {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/icons/1/caret-right.svg);
  background-size: cover;
  position: absolute;
  top:0;
  right: 42%;
  transform: translate(50% , -220%);
}

.slick-dots {
  position: relative;
  color:  rgba(0,0,0,0.5);
  font-family: "NanumSquare-B";
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
  text-align: center;
  line-height: 2.2rem;
  transform: translateY(-105%);
}

.slick-dots::before{
  content: "|";
  display: block;
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-dots li{
  display: none;
  gap:  2rem;
  justify-content: center;
  position: relative;
  color:  rgba(0,0,0,0.5);
  font-family: "NanumSquare-B";
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
  text-align: center;
  line-height: 2.2rem;
}

.slick-dots .slick-active {
  display: flex;
}

.slick-dots p:first-of-type {
  color:  #121212;
}



/* section : collection */

section.collection {
  margin-top: 100px;
  position: relative;
}

.collection > div img {
  width:  100%;
}

.collection > div picture::after{
  content:  "";
  display: block;
  position: absolute;
  bottom:  0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, #121212);
}

.collection_img_conts {
  position: absolute;
  bottom: 0;
  width: calc(100% - 80px);
  padding: 0 40px;
  color:  #ffffff;
  z-index: 0;
  transition: color 0.5s;
}

.collection_img_conts:hover{
  color:  #121212;
}

.collection_img_conts::before{
  content:  "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0;
  background-color: #ffffff;
  z-index: -1;
  transition: height 0.4s;
}

.collection_img_conts.on::before{
  height: 100%;
  border-bottom: 1px solid #dedede;
}

.collection_img_title {
  margin-top: 24px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 2.4rem;
  letter-spacing: 0.04rem;
}

.collection_img_desc1 {
  width: calc(50% - 40px);
  margin-top: 18px;
  font-family: "NanumSquare-R";
  font-size: 1.3rem;
  letter-spacing: 0.06rem;
  line-height: 2.2rem;
  word-break: keep-all;
}

.collection_img_desc2 {
  margin-top: 24px;
  margin-bottom: 40px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 1.2rem;
  font-weight:  800;
  transition: padding-left 0.4s;
}


/* section : shop */

section.shop {
  width: 100%;
  margin-top: 100px;
}

.shop_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.shop_wrapper > div img {
  width: 100%;
}

.slick-slide {
  margin: 0 2.2px;
}

.shop_conts {
  padding-left: 5px;
}

.shop_conts_title {
  margin-top: 18px;
  font-family: "NanumSquare-B";
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
}

.shop_conts_price{
  margin-top: 12px;
  font-family: "NanumSquare-R";
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
}



/* section : anniver50 */

section.anniver50 {
  margin-top: 100px;
  position: relative;
}

.anniver50 > div img {
  width:  100%;
}

.anniver50 > div picture::after{
  content:  "";
  display: block;
  position: absolute;
  bottom:  0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, #121212);
}

.anniver50_img_conts {
  position: absolute;
  bottom: 0;
  width: calc(100% - 80px);
  padding: 0 40px;
  color:  #ffffff;
  z-index: 0;
  transition: color 0.5s;
}

.anniver50_img_conts:hover{
  color:  #121212;
}

.anniver50_img_conts::before{
  content:  attr(data-before);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0;
  background-color: #ffffff;
  z-index: -1;
  transition: height 0.4s;
}

.anniver50_img_conts.on::before{
  height: 100%;
  border-bottom: 1px solid #dedede;
}

.anniver50_img_title {
  margin-top: 24px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 2.2rem;
  letter-spacing: 0.04rem;
}

.anniver50_img_desc1 {
  width: calc(50% - 40px);
  margin-top: 18px;
  font-family: "NanumSquare-R";
  font-size: 1.3rem;
  letter-spacing: 0.06rem;
  line-height: 2.2rem;
}

.anniver50_img_desc2 {
  margin-top: 24px;
  margin-bottom: 40px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 1.2rem;
  font-weight:  800;
  transition: padding-left 0.4s;
}



/* section : anniver50_shop */

section.anniver50_shop {
  width: 100%;
  margin-top: 100px;
}

.anniver50_shop_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.anniver50_shop_wrapper > div img {
  width: 100%;
}

.slick-slide {
  margin: 0 2.2px;
}

.shop_conts {
  padding-left: 5px;
}

.shop_conts_title {
  margin-top: 18px;
  font-family: "NanumSquare-B";
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
  word-break: keep-all;
}

.shop_conts_price{
  margin-top: 12px;
  font-family: "NanumSquare-R";
  font-size: 1.2rem;
  letter-spacing: 0.06rem;
}



/* section : anniver50-items */

section.anniver50_items {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.anniver50_items > div {
  width: calc(50% - 2px);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
}

.anniver50_items > div img {
  width:  100%;
  position: relative;
}

.anniver50_items > div picture::after{
  content:  "";
  display: block;
  position: absolute;
  bottom:  0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, #121212);
}

.anniver50_items .img_conts {
  height: 170px;
  position: absolute;
  bottom: 0;
  width: calc(100% - 80px);
  padding: 0 40px;
  color:  #ffffff;
  z-index: 0;
  transition: color 0.5s;
}

.anniver50_items .img_conts:hover{
  color:  #121212;
}

.anniver50_items .img_conts::before{
  content:  '';
  display: block;
  position: absolute;
  bottom:  0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #ffffff;
  z-index: -1;
  transition: height 0.4s;
}

.anniver50_items .img_conts.on::before{
  height: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.anniver50_items_img_title {
  margin-top: 24px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 2.2rem;
  letter-spacing: 0.04rem;
  word-break: keep-all;
}

.anniver50_items_img1 .anniver50_items_img_title {
  line-height:  3.6rem;
  word-break: keep-all;
}

.anniver50_items_img2 .anniver50_items_img_title {
  font-size: 2.2rem;
  letter-spacing: 0.01rem;
  word-break: keep-all;
}

.anniver50_items .anniver50_items_img_desc1 {
  margin-top: 18px;
  font-family: "NanumSquare-R";
  font-size: 1.3rem;
  letter-spacing: 0.06rem;
  word-break: keep-all;
}

.anniver50_items_img_desc2 {
  margin-top: 24px;
  margin-bottom: 40px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 1.2rem;
  font-weight:  800;
  transition: padding-left 0.4s;
  word-break: keep-all;
}



/* slider2_sectiontitle */

.slider2_sectiontitle {
  margin-top: 200px;
  display: block;
  font-family: "NanumSquareNeo-Eb";
  font-size: 1.3rem;
  letter-spacing: 0.04rem;
  text-align: center;
}



/* section : slider2 */

section.slider2 {
  margin-top: 50px;
  width: 100%;
  height: 200px;
}

.slider2_wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slider2_wrapper > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:  2.4rem;
  position: absolute;
  top:  0;
  left: 0;
}

.slider2_desc {
  line-height: 50px;
}

.slider2_title {
  font-family: "NanumSquareNeo-Eb";
  font-size: 2.4rem;
  letter-spacing: 0.04rem;
}

.slider2_desc {
  display: block;
  height: 50px;
  text-align: center;
  font-family: "NanumSquare-R";
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0.06rem;
}



/* section : event */

section.event {
  margin-top: 100px;
  position: relative;
}

.event > div img {
  width:  100%;
}

.event > div picture::after{
  content:  "";
  display: block;
  position: absolute;
  bottom:  0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, transparent, #121212);
}

.event_img_conts {
  position: absolute;
  bottom: 0;
  width: calc(100% - 80px);
  padding: 0 40px;
  color:  #ffffff;
  z-index: 0;
  transition: color 0.5s;
}

.event_img_conts:hover{
  color:  #121212;
}

.event_img_conts::before{
  content:  "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0;
  background-color: #ffffff;
  z-index: -1;
  transition: height 0.4s;
}

.event_img_conts.on::before{
  height: 100%;
  border-bottom: 1px solid #dedede;
}

.event_img_title {
  width: 50%;
  margin-top: 24px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 2.4rem;
  letter-spacing: 0.04rem;
  word-break: keep-all;
  line-height: 3rem;
}

.event_img_desc1 {
  width: calc(50% - 80px);
  margin-top: 18px;
  font-family: "NanumSquare-R";
  font-size: 1.3rem;
  letter-spacing: 0.06rem;
  line-height: 2.2rem;
  word-break: keep-all;
}

.event_img_desc2 {
  margin-top: 24px;
  margin-bottom: 40px;
  font-family: "NanumSquareNeo-Eb";
  font-size: 1.2rem;
  font-weight:  800;
  transition: padding-left 0.4s;
}



/* footer */

.footer {
  margin-top: 100px;
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  gap:  2.4rem;
  font-size: 1.2rem;
  background-color: #121212;
}

.footer_menu1 {
  display: flex;
  gap:  2.4rem;
}

.footer_menu1 li a {
  width: 150px;
  padding:  1rem;
  border: 2px solid #ffffff;
  border-radius: 50px;
  text-align: center;
  color:  #ffffff;
  transition: background-color 0.4s;
}

.footer_menu1 li a:hover {
  color: #121212;
  background-color: #ffffff;
}

.footer_menu2 {
  display: flex;
  gap:  2.4rem;
}

.footer_menu2 li:nth-child(9) a{
  font-family: "NanumSquare-B";
  color:  #ffffff;
}

.footer_menu2 li a {
  color:  #ccc;
}

.footer span {
  color:  #ffffff;
}