@charset "UTF-8";

.advr {
  height: 40px;
  background-color: #121212;
  color:  #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "NanumSquare-B";
  letter-spacing: 0.04rem;
  position: relative;
  z-index: -2;
}

.advr > div {
  width: 100%;
  line-height: 40px;
  text-align: center;
  z-index: -1;
}

.header {
  height: 60px;
  padding:  0 40px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header_left {
  width: 33%;
  display: flex;
}

.header_left .mobile {
  display: none;
}

.nav .gnb{
  display: flex;
}

.nav .gnb li {
  padding-right: 60px;
}

.nav .gnb li a {
  height: 60px;
  font-size:  1.2rem;
  text-align: center;
  line-height: 60px;
  letter-spacing: 0.04rem;
}

.header_center {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_center .logo{
  width:  140px;
  height: 27px;
  background-image: url(../../assets/imgs/main/patagonialogo.svg);
  text-indent: -9999em;
}

.header_right {
  width: 33%;
}

.header_right ul {
  display: flex;
  justify-content: flex-end;
}

.header_right ul li {
  padding-left:  60px;
}

.header_right ul li a {
  font-size:  1.6rem;
  text-align: center;
}



@media all and (max-width: 1024px) {

  nav {
    display: none;
  }

  .icon-menu-bar.mobile {
    display: block;
    font-size: 2.6rem;
  }

  .icon-menu-bar.mobile:hover {
    cursor: pointer;
  }

  .header_right .icon-search{
    display: none;
  }

  .header_right .icon-heart {
    display: none;
  }

  .header_right .icon-bag {
    font-size: 2rem;
  }

}



@media all and (max-width: 767px) {

  .header {
    padding:  0 30px;
  }

  .header_right ul li {
    padding-left: 30px;
  }

  .header_center .logo {
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

}


