@charset "UTF-8";

html {
  font-size:  12px;
}

body {
  margin: 0;
  padding:  0;
  box-sizing: border-box;
  overflow-x:  hidden;
  color:  #121212;
  font-family: "NanumSquare-R";
}

::-webkit-scrollbar {
  display: none;
}

a {
  color:  #121212;
  text-decoration:  none;
  display: block;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline:  none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  margin: 0; 
  padding-left:  0;
  list-style-type: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

/* root color 설정 */
:root {
  --black: #121212;
  --white: #ffffff;
}