@media all and (max-width: 1023px) {

  html {
    font-size:  8px;
  }

/* main */

  .main-inner {
    display: flex;
    flex-wrap: wrap;
    gap:  5px 5px;
    overflow: hidden;
    margin-top: -5px;
  }
  
/* article */
.drjart-desc {
  height: 250px;
}

.drjart-desc p {
  width: 90%;
  font-size: 2.4rem;
  line-height: 3.4rem;
}

/* article :event*/

.event-desc{
  width: 30%;
  position: absolute;
  top:  25%;
  margin-left: 80px;
}

.event h5 {
  font-size: 2.8rem;
  color: #fff;
  margin-bottom: 10px;
}

.event p {
  font-size: 2.8rem;
  color: #fff;
  font-family: "sect-title";
}

}