html {
  font-size:  10px;
}

body {
  margin: 0;
  padding:  0;
  box-sizing: border-box;
  overflow-x:  hidden;
  color:  #121212;
  font-family: "Noto-Sans";
}

::-webkit-scrollbar {
  display: none;
}

a {
  color:  #111;
  text-decoration:  none;
  display: block;
}

button,
input,
select,
textarea {
  background-color: transparent;
  border: 0;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline:  none;
  box-shadow: none;
}

a,
button {
  cursor: pointer;
}

ul,
ol {
  margin: 0;  /*원래 없었음 지우면 헤더 커짐*/
  padding-left:  0;
  list-style-type: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

/* root color 설정 */
:root {
  --black: #121212;
  --white: #fff;
  --sub-white: #dedede;
  --main-color: #f3d43e;
  --item-bgc: #f9f9f9;
}

/* header ▼ */




/*  main  ▼ */
.main {
  width:  100%;
}

.main__inner  {
  background-color: var(--main-color);
}

.main__head {
  width:  100%;
  display: flex;
}

.main__visual { 
  width:  55%;
  height: 850px;
  background-image: url("../../assets/imgs/main/img-main-visual.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.main__titlebox {
  width:  45%;
  height: 550px;
  padding-top:  300px;
  z-index: 1;
  transform: translateX(-100px);
  color:  var(--white); 
}

.main__title  {
  font-family: "menu";
  font-size:  4.8rem;
  font-weight: 100;
}

.main__desc {
  width:  400px;
  font-family: "Noto-Sans";
  font-size:  2.2rem;
}

.load-box {
  width:  250px;
  height: 50px;
  border: 1px solid var(--white);
  line-height: 50px;
  text-align: center;
  font-family: "Noto-Sans";
  font-size: 1.7rem;
  text-transform: uppercase;
  color:  var(--white);
  display:  block;
  position: relative;
  transition: all 1s;
}

.load-box:hover{
  color:  var(--black);
}

.loading-bar{
  width:  0;
  height: 100%;
  position: absolute;
  top:  0;
  left: 0;
  z-index: -1;
  background-color: var(--white);
}

.icon-arrow-right {
  display: none;
}

.main__body{
  width:  100%;
  height: 500px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--white);
  background-position: center;
  font-family: "Noto-Sans";
  font-size: 1.5rem;
}

.item-info{
  margin-top: 30px;
  line-height: 1rem;
}

.main__body-cont1,
.main__body-cont2 {
  margin-top: 4px; 
  margin-right: 4px;
  display: block;
  width:  20%;
  height: 400px;
  text-align: center;
  background-color: #fbfbfb;
}

.main__body-cont3 {
  display: block;
  width:  45%;
  height: 604px;
  z-index: 2;
  transform: translateY(-200px);
  text-align: center;
  background-color: #fbfbfb;
}

.main_item1 {
  width:  100%;
  height: 400px;
  background-image: url("../../assets/imgs/main/item1.svg");
  background-size: cover;
  background-position: center;
  transition: 300ms ease-in-out;
}

.main_item1:hover {
  background-image: url("../../assets/imgs/main/img-item1-hover.svg");
}

.main_item2 {
  width:  100%;
  height: 400px;
  background-image: url("../../assets/imgs/main/item2.svg");
  background-size: cover;
  background-position: center;
  transition: 300ms ease-in-out;
}

.main_item2:hover {
  background-image: url("../../assets/imgs/main/img-item2-hover.svg");
}

.main_item3 {
  width:  100%;
  height: 600px;
  background-color: var(--white);
  background-image: url("../../assets/imgs/main/item3.svg");
  background-size: cover;
  background-position: center;
  transition: 300ms ease-in-out;
}

.main_item3:hover {
  background-image: url("../../assets/imgs/main/img-main-texture.png");
}


/*  section__new-product ▼ */

.section__new-products > .inner {
  margin-top: 150px;
  padding:  0 80px;
}

.new-product-title  {
  text-align: center;
  font-family: "sect-title";
  font-size:  4rem;
  font-weight: 500;
  text-transform: capitalize;
  color:  var(--black);
  letter-spacing: 0.04rem;
}

.new-product-conts  {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.new-product-conts > i  {
  font-size:  5rem;
  font-weight: 100;
  color:  #ccc;
}

.new-product-conts > a  {
  width:  400px;
  height: 450px;
  flex-basis: 100%;
  position: relative;
}

.new-product-con1  {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/main/img-new-product1.svg");
  background-size: cover;
  background-position: center;
}

.new-product-con2  {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/imgs/main/img-new-product2.svg");
  background-size: cover;
}

.new-product-con3  {
  width:  100%;
  height: 100%;
  background-image: url("../../assets/imgs/main/img-new-product3.svg");
  background-size: cover;
}

.new-product-con4  {
  width:  100%;
  height: 100%;
  background-image: url("../../assets/imgs/main/img-new-product4.svg");
  background-size: cover;
}

/*  section__innovate ▼ */

.section__innovate  > .inner{
  background-color: var(--item-bgc);
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innovate-title  {
  padding:  30px 0;
  text-align: center;
  font-family: "sect-title";
  font-size:  4rem;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.04rem;
}

.innovate-desc {
  display: block;
  width:  50%;
  text-align: center;
  font-family: "sect-desc";
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0.08rem;
  line-height: 3.5rem;
}

/*  section__about ▼ */

.section__about{
  width: 100%;
  background-color: var(--black);
  padding-bottom:  100px;
}

.section__about > .inner  {
  margin-top: 0;
}

.about-title  {
  padding-top: 100px;
  font-family: "sect-title";
  font-weight: 500;
  font-size: 4rem;
  color:  var(--white);
  text-align: center;
}

.about-cont-box {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-cont1  {
  width: 45%;
  height: 700px;
  background-image: url("../../assets/imgs/main/about-section-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-cont2  {
  width: 45%;
  height: 800px;
  background-image: url("../../assets/imgs/main/img-about-cont2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.about-cont1  {
  position: relative;
}

.about-cont1 > .load-box {
  position: absolute;
  left: 50%;
  bottom: 100px;
  transform: translate(-50%, -50%);
}

/*  footer ▼ */

.footer {
  background-color: var(--item-bgc);
}

.footer > .inner{
  margin-top: 0;
  padding:  60px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__head {
  width:  35%;
  border-right: 1px solid #ccc ;
}

.footer__logo {
  margin-left: 5px; /*아이콘들이랑 정렬맞추기 위함*/
  display: block;
  width:  190px;
  height: 40px;
  background-image: url("../../assets/imgs/main/logo-drjart.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.footer__social-links {
  margin-top: 20px;
  width:  160px;
  display: flex;
  justify-content: space-between;
}

.footer__social-links i {
  font-size:  40px;
}

.footer__body {
  font-size: 1.5rem;
  font-weight: 100;
  width:  60%;
  display: flex;
  justify-content: space-between;
}

.footer__body li:first-child {
  font-family: "Noto-Sans";
  font-size:  1.8rem;
  margin-bottom:  10px;
}

.footer__body a {
  font-family: "Noto-Sans-m";
  color:  #9d9d9d;
}
