@font-face {
  font-family: 'patagonia';
  src:  url('fonts/patagonia.eot?ktyur7');
  src:  url('fonts/patagonia.eot?ktyur7#iefix') format('embedded-opentype'),
    url('fonts/patagonia.ttf?ktyur7') format('truetype'),
    url('fonts/patagonia.woff?ktyur7') format('woff'),
    url('fonts/patagonia.svg?ktyur7#patagonia') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'patagonia' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e900";
}
.icon-user:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-bag:before {
  content: "\e903";
}
.icon-menu-bar:before {
  content: "\e904";
}
.icon-caret-down:before {
  content: "\e905";
}
.icon-caret-left:before {
  content: "\e906";
}
.icon-caret-right:before {
  content: "\e907";
}
.icon-caret-right-fill:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
